<li>
  <label for="">Part Number</label>
  <select class="" name="part_desc[]">
    <% Part.number_and_name.each do |part| %>
    <option value="<%= part %>"> <%= part %> </option>
    <% end %>
  </select>
  <label for="">Quantity</label>
  <input class="part-quantity" type="text" name="quantity[]" value="">
</li>
