<section id = "inventory-index-page">
  <h1>Master Inventory</h1>
  <% Warehouse.all.each do |w|%>
    <h3><%= w.city %> <%= w.location_code %> :</h3>
    <%= render 'parttable', parts: Part.unique_parts(w.id), warehouse: w %>
  <% end %>
</section>
