


  <table>
    <tr>
      <th>Order Number</th>
      <th>Description</th>
      <th>Warehouse</th>
      <th>Add Received Shipment</th>
    </tr>
    <% orders.each do |o| %>
    <tr>
      <td> <%= o.order_name %> </td>
      <td> <%= o.description %> </td>
      <td> <%= o.warehouse.city %> </td>
      <td>  <%= link_to "Select", edit_order_path(o) %> </td>
    </tr>
    <% end %>
  </table>
