


  <table>
    <thead>
    <tr>
      <th>Order Number</th>
      <th>Notes</th>
      <th>Warehouse</th>
      <th>View</th>
    </tr>
    <tr>
      <th>Super</th>
      <th>Duper</th>
      <th>Fake</th>
      <th>View</th>
    </tr>
    <% parts.each do |part| %>
      <tr>
        <td><%=part.part_no%></td>
        <td><%= part.name.capitalize %></td>
        <td><%= Part.number_of(part.part_no, warehouse.id) %></td>
        <td><%= link_to "view", part_path(part)%></td>
      </tr>
    <% end %>
  </table>
