


  <table>
    <tr>
      <th>Order Number</th>
      <th>Description</th>
      <th>Warehouse</th>
      <th>View</th>
    </tr>
    <% orders.each do |o| %>
    <tr>
      <td> <%= o.order_name %> </td>
      <td> <%= o.description %> </td>
      <td> <%= o.warehouse.city %> </td>
      <td> View </td>
    </tr>
    <% end %>
  </table>
