<section id='homepage'>
  <h1>Inventory Mangement Portal</h1>
  <nav id="main-nav">
    <ul>
      <!-- FIXME Inventory url replace with :index-->
      <li><%= link_to "Inventory", "/parts" %></li>
      <!-- FIXME Manage Shipment url replace with :new -->
      <li><%= link_to "Manage Shipment", "/parts/new" %></li>
    </ul>
  </nav>

  <h2>How to use this site</h2>
  <p>The Rutherford Rocket Labs Inventory Management Portal allows employees electronically manage existing inventory and inventory shipments.</p>
</section>
