/* css document */

body, body * {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

section {
  clear: both;
}

img {
  padding-top: .65em;
  padding-left: .55em;
  width: 100%;
  text-align: left;
}

/* login-page styles */

#main-logo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.45em;
  position: fixed;
}

#welcome span {
   color: #c62128;
}

#main-logo a {
  text-decoration: none;
  color: #000;
}

#login-page {
  width: 100%;
  background-image: url(launch2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -100;
}

#login-page h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

#login-page nav {
  display: none;
}

#login-page h1 {
  padding-bottom: 1.5em;
}

#login-page h2 {
  padding-bottom: 1.5em;
}

#welcome {
  padding-top: 3em;
  font-size: 3em;
  text-align: center;
  color: #babec4;
}

.employee-login {
  width: 400px;
  margin-top: 4.5em;
  margin: 0 auto;
  border: 1px solid #fff;
  padding: 1.25em;
}

.employee-login h2 {
  color: #fff;
}

#mission-statement {
  width: 50%;
  margin: 0 auto;
  margin-top: 5.45em;
}

#login-page h3 {
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 1.2em;
}

#mission-statement p {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Slabo 27px', serif;
  color: #fff;
  padding-bottom: 2.5em;
}

form {
  font-family: 'Slabo 27px', serif;
  color: #fff;
}

label {
  margin-bottom: .35em;
}

input {
  font-size: 1.75em;
  padding: .12em;
  display: block;
  margin-top: .35em;
  margin-bottom: .65em;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.submit-button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  background-color: #fff;
  padding: .25em;
  width: 160px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #c62128;
  transition: .3s;
  color: #fff;
}

.errors {
  font-size: 1em;
  font-weight: bold;
  color: red;
}
.errors p {
  font-size: 1em;
  font-weight: bold;
  color: red;
}

/* end login page styles */

/* application.html styles */

#layout-header {
  margin-top: 2.5em;
  margin-right: 3.5em;
  float: right;
  overflow: hidden;
}

.banner-logo h1 {
  /*width: 100%;*/
}

#layout-header li {
  float: left;
}

#layout-header ul {
  margin: 0;
  list-style-type: none;
}

.logout {
  font-size: .9em;
  border: none;
  background-color: #fff;
  display: inline;
  margin: 0;
  padding: 0;
}

.logout:hover,
.logout:focus {
  color: lime;
}

#manager-nav li {
  float: none;
}
#manager-nav a {
  text-decoration: none;
  color: black;
}
/* end application.html styles */

/* homepage styles */
#homepage {
  color: #000;
  width: 100%;
  clear: both;
}
#homepage-container {
  margin: 0 auto;
  padding: 1.25em;
  padding-top: 3em;
  width: 50%;
}

#homepage h1 {
  font-size: 55px;
  padding-bottom: .75em;
}

#homepage h2 {
  font-size: 35px;
  padding-top: .75em;
  padding-bottom: .75em;
}

#homepage p {
text-align: justify;
line-height: 1.3em;
font-family: 'Slabo 27px', serif;
}

    /* begin employee nav */
#main-nav-manager {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  overflow: hidden;
}

#main-nav-manager ul {
  margin-left: 35px;
  list-style-type: none;
}

#main-nav-manager li {
  display: block;
  float: left;
  text-align: center;
  font-size: 20px;
  width: 32%;
}

#main-nav-manager a {
  color: #000;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

#main-nav-manager a:hover {
  background-color: lime;
  color: black;
}
/* end employee nav */

/* begin manager nav */
#main-nav-employee {
border-bottom: 2px solid #000;
border-top: 2px solid #000;
overflow: hidden;
}

#main-nav-employee ul {
margin-left: 35px;
list-style-type: none;
}

#main-nav-employee li {
display: block;
float: left;
text-align: center;
font-size: 20px;
width: 48%;
}

#main-nav-employee a {
color: #000;
display: block;
padding-top: 10px;
padding-bottom: 10px;
text-decoration: none;
}

#main-nav-employee a:hover {
background-color: #c62128;
color: white;
}
/* end manager nav */

/* end homepage styles */

/* new employee-page styles */


#new-employee-page h2 {
  margin-bottom: 1.2em;
}

#new-employee-page h1, h2, h3, label {
  color: #000;
}

#new-employee-page {
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 1.25em;
  color: #000;
}

#employee-confirm {
  width: 400px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 1.25em;
}

#employee-confirm p.success {
  color: green;
  font-style: normal;
}

#employee-confirm p {
  font-style: italic;
}

#employee-confirm table {
  text-align: left;
}

/* end new employee-page styles */

/* warehouse styles */


#warehouse-new-page h1, h2, h3, label {
  color: #000;
}

#warehouse-new-page form {
  width: 50%;
  padding-top: 10.5em;
  margin: 0 auto;
  border-radius: 25px;
}

#warehouse-confirm {
  width: 400px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 1.25em;
}

#warehouse-confirm p {
  color: green;
}

#warehouse-confirm table {
  text-align: left;
}

/* end warehouse styles */

/*inventory table styles*/

#inventory-index-page {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#inventory-index-page table {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#inventory-index-page td {
  width: 300px;
}
#inventory-index-page th {
  background-color: lime;
}

#inventory-index-page tr {
  height: 25px;
  font-size: 1.2em;
}
#inventory-index-page tr:nth-child(even) {
  background-color: white;
}
#inventory-index-page tr:nth-child(odd) {
  background-color: gainsboro;
}

#inventory-index-page h1 {
  text-align: center;
}
#inventory-index-page h3 {
  color: #000;
  margin-left: 200px;
}


/*end inventory table styles*/
/* inventory show table styles*/
#part-show-page {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#part-show-page h3 {
  color: #000;
  margin-left: 200px;
}
#part-show-page table {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#part-show-page tr {
  height: 25px;
  font-size: 1.2em;
}
#part-show-page td {
  width: 300px;
}
#part-show-page th {
  background-color: lime;
}
#part-show-page tr:nth-child(even) {
  background-color: white;
}
#part-show-page tr:nth-child(odd) {
  background-color: gainsboro;
}

/* new orders styles */

#new-order-page {
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 5.25em;
  color: #000;
}

#new-order-page form {
  border: 1px solid #000;
  padding: 1.25em;
  border-radius: 25px;
  overflow: hidden;
}

.send-order {
  float: right;
}

#new-order-page input, label {
  display: block;
  margin-top: .55em;
}

.part-quantity {
  width: 50px;
}

/* end new orders styles */

/* end inventory show table styles*/
/* footer styles */
footer {
  background-color: #35383d;
  padding: 4em;
  margin-top: 2em;
  color: #fff;
  text-align: center;
  clear: both;
  font-family: 'Slabo 27px', serif;
  font-size: .9em;
}
/* end footer styles */
