/* css document */

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

section {
  clear: both;
}

img {
  width: 20%;
}

/* login-page styles */

#login-page {
  width: 100%;
}

.employee-login {
  width: 30%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 1.25em;
}

#mission-statement {
  width: 50%;
  margin: 0 auto;
  margin-top: 5.45em;
}

label {
  margin-bottom: .35em;
}

input {
  font-size: 1.75em;
  padding: .12em;
  display: block;
  margin-top: .35em;
  margin-bottom: .65em;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
}

.submit-button {
  font-size: 1em;
  background-color: #fff;
  padding: .25em;
  width: 160px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #0066cc;
  transition: .3s;
  color: #fff;
}

#mission-statement p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.errors {
  font-size: 1em;
  font-weight: bold;
  color: red;
}

/* end login page styles */

/* application.html styles */

#layout-header {
  margin-top: 2.5em;
  margin-right: 3.5em;
  float: right;
  overflow: hidden;
}

.banner-logo h1 {
  float: left;
  margin-top: 1.5em;
  margin-left: 1.5em;
}

#layout-header li {
  float: left;
}

#layout-header ul {
  margin: 0;
  list-style-type: none;
}

.logout {
  font-size: .9em;
  border: none;
  background-color: #fff;
  display: inline;
  margin: 0;
  padding: 0;
}

.logout:hover,
.logout:focus {
  color: lime;
}

#manager-nav li {
  float: none;
}
#manager-nav a {
  text-decoration: none;
  color: black;
}
/* end application.html styles */

/* homepage styles */
#homepage {
  /*background-color: #806868;*/
  /*color: white;*/
  color: #806868;
  width: 100%;
  clear: both;
}
#homepage-container {
  width: 70%;
  margin: 0 auto;
  padding: 1.25em;
  padding-top: 3em;
}

#homepage h1 {
  font-size: 55px;
}

#homepage h2 {
  font-size: 35px;
}

#main-nav {
  border-bottom: 2px solid #806868;
  border-top: 2px solid #806868;
  overflow: hidden;
  width: 90%;
}

#main-nav ul {
  margin: 0;
  list-style-type: none;
}

#main-nav li {
  display: block;
  float: left;
  text-align: center;
  font-size: 20px;
  width: 48%;
}

#main-nav a {
  /*color: white;*/
  color: #806868;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

#main-nav a:hover {
  background-color: #806868;
  color: white;
}

#homepage p {
  text-align: justify;
  width: 90%;
}

/* end homepage styles */

/* new employee-page styles */

#new-employee-page h2 {
  margin-bottom: 1.2em;
}

#new-employee-page {
  width: 50%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 1.25em;
}

/* end new employee-page styles */

/* warehouse styles */

#warehouse-new-page {
  width: 50%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 1.25em;
}

/* end warehouse styles */

/*inventory table styles*/

#inventory-index-page {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#inventory-index-page table {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#inventory-index-page h1 {
  text-align: center;
}
#inventory-index-page h3 {
  margin-left: 100px;
}


/*end inventory table styles*/

/* footer styles */
footer {
  margin-top: 2.5em;
  text-align: center;
  clear: both;
}
/* end footer styles */
