<h1>Inventory Mangement Portal</h1>
<nav>
  <!-- FIXME Inventory url replace with :index-->
  <!-- FIXME Manage Shipment url replace with :new -->
  <%= link_to "Inventory", "/parts" %>
  <%= link_to "Manage Shipment", "/parts/new" %>
</nav>

<h2>Please read before you proceed</h2>
