<section id="warehouse-show">
  <table>
    <p>You've successfully created a new warehouse</p>
    <tr>
      <th>Warehouse City: </th>
      <td> <%= @warehouse.city %> </td>
    </tr>
    <tr>
      <th>Location Code: </th>
      <td> <%= @warehouse.location_code %> </td>
    </tr>
  </table>
</section>
